In [3]:
import pickle
import pandas as pd
from tqdm.notebook import tqdm

In [6]:
tweets = pd.read_csv("twitter_without.csv", lineterminator='\n', index_col=0)
users = list(tweets['user_id'].unique())
tweets

,user_id,tweet,cleaned_tweet,conversation_id,cluster_id
0,23249874,Vaccines and the diseases vaccination can prev...,vaccines and the diseases vaccination can prev...,1290000000000000,0
1,16854311,@electric589 @kevinmd Vaccines and the disease...,vaccines and the diseases vaccination can caus...,1280000000000000,3952
2,11274452,"For autism, vaccination is the simple answer t...",for autism vaccination is the simple answer th...,1250000000000000,3953
3,17054920,sitfu.com Russian Activist Disappears After Ex...,sitfu com russian activist disappears after ex...,1210000000000000,3954
4,67735456,Flu vaccination programme for pregnant women u...,flu vaccination programme for pregnant women u...,1180000000000000,3955
...,...,...,...,...,...
51295,419555327,Haha. I've also noted the Orange Blob's tweets...,haha i ve also noted the orange blob s tweets ...,932000000000000000,40660
51296,874000000000000000,"Re: ""Everyone is entitled to their own opinion...",re everyone is entitled to their own opinion d...,932000000000000000,40661
51297,419555327,"Elvis asked me to say ""hi"" to you. In other ne...",elvis asked me to say hi to you in other news ...,932000000000000000,40662
51298,964000000000000000,Quatre fois plus de cas de rougeole dans le mo...,quatre fois plus de cas de rougeole dans le mo...,904000000000000000,40663
51299,15170258,"So you also do not trust plate tectonics, nucl...",so you also do not trust plate tectonics nucle...,932000000000000000,40664

In [2]:
with open('replies_clusters.pickle', 'rb') as f:
    replies_clusters = pickle.load(f)
replies_clusters['user_id'] = replies_clusters['user_id'].astype(int)
users = list(replies_clusters['user_id'].unique())
replies_clusters = replies_clusters.drop_duplicates(subset='tweet')

In [7]:
dataset = pd.read_csv('data/twitter_vaccination_dataset/master.csv')
dataset['conversation_id'] = dataset['conversation_id'].astype(int)
dataset['user_id'] = dataset['user_id'].astype(int)
dataset['datetime'] = dataset['date'] + '-' + dataset['time']
dataset['datetime'] = pd.to_datetime(dataset['datetime'], format='%d/%m/%Y-%H:%M:%S', errors='ignore')

dataset = dataset[dataset['user_id'].isin(users)]
dataset = dataset.drop_duplicates('tweet')
dataset

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,datetime
1,3.306733e+06,3306733,1.169170e+12,19/01/2007,04:00:47,E. Africa Standard Time,621543,bbchealth,BBC Health News,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '621543', 'username': 'bbchealth'}]",NaN,2007-01-19 04:00:47
32,1.845999e+08,184599902,1.186150e+12,03/08/2007,17:01:40,E. Africa Standard Time,6433472,cbcnews,CBC News,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '6433472', 'username': 'CBCNews'}]",NaN,2007-08-03 17:01:40
33,1.845648e+08,184564792,1.186150e+12,03/08/2007,16:40:18,E. Africa Standard Time,621543,bbchealth,BBC Health News,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '621543', 'username': 'bbchealth'}]",NaN,2007-08-03 16:40:18
48,2.404652e+08,240465222,1.188620e+12,01/09/2007,07:49:44,E. Africa Standard Time,1769551,nythealth,NYT Health,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1769551', 'username': 'NYTHealth'}]",NaN,2007-09-01 07:49:44
62,2.854168e+08,285416832,1.190440e+12,22/09/2007,07:34:32,E. Africa Standard Time,2768501,abcnews,ABC News,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2768501', 'username': 'abcnews'}]",NaN,2007-09-22 07:34:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194939,1.200000e+18,1200000000000000000,1.570000e+12,29/11/2019,00:52:23,E. Africa Standard Time,1421951876,friendsofscimed,FriendsOfSciMed,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1421951876', 'username': 'Friend...",NaN,2019-11-29 00:52:23
2194946,1.200000e+18,1200000000000000000,1.570000e+12,29/11/2019,00:37:00,E. Africa Standard Time,3222921301,avoiceforchoice,A Voice For Choice Advocacy,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '3222921301', 'username': 'avoice...",NaN,2019-11-29 00:37:00
2194951,1.200000e+18,1200000000000000000,1.570000e+12,29/11/2019,00:27:01,E. Africa Standard Time,938000000000000000,jocitizenusa,JoCitizen USA,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '937896031978688514', 'username':...",NaN,2019-11-29 00:27:01
2194953,1.200000e+18,1200000000000000000,1.570000e+12,29/11/2019,00:22:41,E. Africa Standard Time,874000000000000000,nadinosaurusrex,Gender Commulist Nadine üè≥Ô∏è‚Äç‚ößÔ∏è,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '874254459718836226', 'username':...",NaN,2019-11-29 00:22:41
2194977,1.200000e+18,1200000000000000000,1.580000e+12,30/11/2019,02:50:01,E. Africa Standard Time,14062554,mdandersonnews,MD Anderson Cancer Center,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '14062554', 'username': 'MDAnders...",NaN,2019-11-30 02:50:01

In [8]:
merged = tweets.merge(dataset[['tweet', 'datetime']],
                                on='tweet',
                                how='left').sort_values(by=['conversation_id', 'datetime'])

In [46]:
merged[['conversation_id', 'user_id', 'tweet', 'datetime']].to_csv('tweets_vaccine_conversation_with_date.csv')

In [44]:
with open('replies_clusters_with_datetime.pickle', 'wb') as f:
    pickle.dump(merged, f)

In [9]:
merged['user_id_tweeet'] = merged['user_id'].astype(str) + ': ' + merged['tweet']

In [11]:
merged = merged.sort_values('datetime')

In [12]:
conversations = pd.DataFrame(columns=['conversation_id', 'tweets'])
conversations['conversation_id'] = merged['conversation_id'].unique()
conversations.index = conversations['conversation_id']

for conversation_id in tqdm(merged['conversation_id'].unique()):
    tweets = merged[merged['conversation_id'] == conversation_id]['user_id_tweeet'].values
    if len(tweets) > 1:
        conversations.loc[conversation_id, 'tweets'] = '\n'.join(tweets)

  0%|          | 0/1484 [00:00<?, ?it/s]

In [13]:
conversations = conversations.reset_index(drop=True)

In [18]:
conversations[~conversations['tweets'].isna()].to_csv('vaccine_conversations_without_bots.csv')

In [15]:
conversations[~conversations['tweets'].isna()]

          conversation_id                                             tweets
0        1030000000000000  15628274: Vaccination Dangers  http://bit.ly/5...
2       35600000000000000  47514193: Reading Brain Damage Caused by Vacci...
11       2040000000000000  25929374: Gardasil HPV Vaccine Stopping Genita...
12       2370000000000000  47514193: Ghana: Public Flee From H1N1 Vaccina...
18       2770000000000000  47514193: Swine flu by stealth or vaccination ...
...                   ...                                                ...
1479   996000000000000000  1634556649: A decline in pneumococcal pneumoni...
1480   997000000000000000  67690947: #Ebola en #RDCüá®üá©  Derni√®re mise √† jo...
1481   998000000000000000  57703513: La #coqueluche. Contagieuse. √âvitabl...
1482   999000000000000000  57703513: La meilleure fa√ßon de se prot√©ger co...
1483  1080000000000000000  39972078: The Pregnant Mother who Declined TDa...

[1167 rows x 2 columns]

In [11]:
print(conversations['tweets'][0])

15628274: Vaccination Dangers  http://bit.ly/54oEjD #health
88865710: Sharp end of vaccination | The Daily Telegraph  http://bit.ly/9gFgP8  bigger ouch @nocompulsoryvac #StopAVN #vaxfax #1SOL #VaccineTimes
17887403: The Sharp End of Vaccination: @nocompulsoryvac gets served, the case for vax is made brutally clear.  http://is.gd/gMXeu #StopAVN #skeptics